<h3>Welcome to Sage</h3>
<div>
<% if current_user && current_user.admin %>
  <%= render "admin" %>
<% end %>
</div>

<div class="row">
  <main class="banner-box">
    <h4 class="center"><%= @latest_box.name %></h4>
    <%= image_tag "stuff.jpg", class:"banner-box-image" %>
    <div class="row">
    <div class="col m6 border-right center">
      <h2 class="box-price"><%= @latest_box.price %></h2>
      <%= react_component('AddToCart', props={name: 'Buy', item_id: @latest_box.id, item_type: @latest_box.class.to_s}, html_options = {tag: 'span'}) %>
      <a href="#" class="btn">Subscribe</a>
    </div>
    <div class="col m6 box-item-list border-left">
      <h5>Items Included</h5>
      <% @box_items.each do |item| %>
      <p><%= item.name %> | <%= item.price %></p>
      <% end %>
    </div>
    </div>
  </main>

</div>
