<%= form_for @item do |f| %>
<div class="row">
  <div class="col m6 offset-m3">
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :pic %><br />
      <%= f.text_field :pic %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
</div>
<% end %>
